body{
    background-color: #1d5d5f;
}
main{
    display: flex;
    gap: 100px;
    background-color:  #F2E2B1;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.contact-hero {
    padding: 3rem 0;
    padding-top: 0.5rem;
    text-align: center;
}
.contact-hero h1{
    color: white;
}
.contact-form{
    min-width: 300px;
    padding: 2rem;
    flex: 1;
    max-width: 1200px;
    margin: 0 auto;
}
  
.form-group {
    margin-bottom: 1.5rem;
}
  
label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
}
  
input, textarea, select {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #3e3e3b;
    border-radius: 4px;
    background-color: white;
    color: #3e3e3b;
}

textarea {
    resize: vertical;
}
  
button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: #1d5d5f;
}
  
.image{
    width: 50%;
    height: auto;
    align-self: center;
}

#image{
    width: 80%;
    height: auto;
    justify-self: center;
    margin-left: 10%;
    margin-right: auto;
    background-image: none;

}