* {
    scroll-behavior: smooth;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #F2E2B1;
    color: #F2E2B1;
    overflow-x: hidden;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
/* navigation */
.navbar-container {
    margin: 1.3%;
    text-align: center;
}

.navbar {
    background-color: #3e3e3b;
    color: white;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
    width: 70%;
    box-shadow: 0px 5px 11px rgba(0, 0, 0, 0.2);
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar a {
    padding: 5px 15px;
}

.navbar a.active:hover {
    font-weight: bold;
    text-decoration: underline;
}

/* main-section */
.main-section {
    text-align: center;
    margin: 21vh 10vw;
}

.main-title {
    font-size: 4.5rem;
    color: black;
    font-weight: bold;
    margin: 0%;
}

.highlight {
    color: #1d5d5f;
}

.main-description {
    color: black;
    margin-top: 10px;
    font-size: 1.3rem;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#md2 {
    margin-top: 0px;
    padding-top: 0px;
}

.button-container {
    margin-top: 20px;
}

.explore-button, .guide-button {
    padding: 15px;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.explore-button {
    background-color: #1d5d5f;
    color: white;
}

.guide-button {
    border: solid 1px #1d5d5f;
    background-color: #F2E2B1;
    color: #1d5d5f;
}

/* .featured-section */

.featured-section {
    background-color: #1d5d5f;
    padding: 80px 16px;
    padding-bottom: 100px;
}

.section-title {
    font-size: 3.1rem;
    color: #F2E2B1;
    font-weight: bold;
    margin-bottom: 48px;
    margin-left: 50px;
    margin-right: auto;
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.institute-box {
    background-color: #3e3e3b;
    border-radius: 10px;
    padding: 24px;
    width: 100%;
    text-align: left;
}

.institute-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #F2E2B1;
    margin-top: 0px;
    margin-bottom: 16px;
}

.institute-list {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
}

#place {
    color: lightgray;
}

.view-button {
    background-color: #F2E2B1;
    color: #1d5d5f;
    border: none;
    padding: 10px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
}

.description {
    color: #F2E2B1;
    width: 40%;
    justify-self: center;
    text-align: center;
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
}

.description-top, .description-bottom {
    position: relative;
}

.description-bottom {
    margin-top: 10px;
    padding-bottom: 100px;
}

/* iit & nit section */

.iit-section, .nit-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
    gap: 50px;
}

.iit-section {
    background-color: #F2E2B1;
}

.nit-section {
    background-color: #1d5d5f;
}

.section-title-page3, .section-title-page4 {
    font-size: 2.3rem;
    font-weight: bold;
    padding: 50px;
}

.section-title-page3 {
    color: #1d5d5f;
    padding-bottom: 100px;
}

.section-title-page4 {
    color: #F2E2B1;
    margin-top: 40px;
    padding-bottom: 100px;
}

.iit-information-block {
    margin-top: 50px;
}

.nit-information-block {
    margin-top: 70px;
}

.description-text {
    padding: 2px;
    color: lightgray;
    font-size: 1rem;
    font-weight: lighter;
    margin-top: 24px;
}

.description-text-dark {
    color: #3e3e3b;
}

.description-text-dark li {
    list-style: disc;
    margin-top: 10px;
}

.description-text-dark ul {
    margin-top: 24px;
}

#nit {
    color: white;
}

.info-block-title, .info-block-title-dark {
    font-size: 1.3rem;
    border-radius: 10px;
    padding: 20px;
    margin-top: 10px;
}

.info-block-title {
    color: #F2E2B1;
    background-color: #3e3e3b;
}

.info-block-title-dark {
    color: #3e3e3b;
    background-color: #F2E2B1;
}

.info-block-top {
    margin-top: 40px;
}

.info-block-number {
    display: inline-flex;
    padding-right: 200px;
    font-size: 1.8rem;
}

.info-block-text {
    font-size: 1rem;
    margin-top: 5px;
    color: lightgray;
}

.info-block-button, .info-block-button-dark {
    display: inline-block;
    padding: 15px 20px;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 40px;
}

.info-block-button {
    background-color: #1d5d5f;
    color: white;
}

.info-block-button:hover {
    background-color: #144244;
}

.info-block-button-dark {
    color: #1d5d5f;
    background-color: #F2E2B1;
}

.info-block-button-dark:hover {
    background-color: #e0d1a3;
}

.stats-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.stats-container .info-block-title {
    margin: 0;
}

/* footer-section  */
.footer {
    background-color: #3e3e3b;
    padding: 80px 50px 40px;
}

.footer-section {
    display: inline-flex;
    width: 100%;
}

.footer-container {
    width: 100%;
    padding: 10px;
}

.footer-title {
    padding-bottom: 30px;
    font-weight: bold;
    font-size: 1.3rem;
}

.footer-content {
    width: 100%;
    color: lightgray;
}

.footer-content li {
    margin-bottom: 10px;
}

.footer-bottom {
    background-color: #3e3e3b;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}

.footer-bottom-left {
    padding: 10px;
}

.footer-bottom-right li {
    display: inline-flex;
    padding: 10px;
}